.skills {
  display: flex;
  align-items: center;
  margin: 30px 20px 20px 20px;
  padding: 10px;
  height: 70vh;
  width: 70vw;
  line-height: 30px;
  background-color: #2e2d33;
  z-index: 2;
  position: absolute;
}

.skills-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 520px;
  background-color: transparent;
  text-align: center;
  margin: 0 10px;
}

.se-logo {
  font-size: 30px;
  margin: 20px;
  margin-bottom: 35px;
  color: white;
}
.skills-header {
  h1 {
    font-size: 20px;
    color: white;
  }
}

.skills-content {
  .skills-subheader {
    font-size: 12px;
    color: #e4e3e3bd;
  }
  p,
  ul {
    font-size: 12px;
    color: #e4e3e3bd;
    list-style-type: none;
  }

  h2 {
    font-size: 15px;
    color: white;
  }
}

.line-divider {
  width: 1px;
  height: 330px;
  background-color: #80808031;
  margin: 0 20px;
}
