@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin blockade {
  @include media("<=phone") {
    width: 100px;
  }
  background-color: #2e2d33;
  width: 250px;
  height: 50px;
  position: absolute;
  left: 0px;
  z-index: 5;
}
