@import "../layouts/media";

.navbar {
  @include media("<=phone") {
  top: -500px;
  left: 180px;
}
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1.5rem;
  background: transparent;
}

.nav-menu {
  background-color: none;
  width: 265px;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 1850ms;
  z-index: 2;
}

.nav-menu.active {
  left: 0;
  transition: 1350ms;
}

.nav-text {
  @include media("<=phone") {
    padding-left: 30px;
  }
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px 0px 10px 150px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #e4e3e3bd;
  font-size: 10px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: none;
  font-size: 10px;
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.blockade-landing {
  @include blockade;
  top: 100px;
}

.blockade-projects {
  @include blockade;
  top: 150px;
}

.blockade-contact {
  @include blockade;
  top: 200px;
}
