nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  z-index: 2;

  .logo {
    text-align: left;
    font-size: 20px;
    margin: 20px 0px;
    margin-left: 35px;
    color: $highlight;
  }
}
.links {
  ul {
    margin-left: 0;
    padding: 0;
    list-style-type: none;
    li {
      font-size: 14px;
      font-weight: bolder;
      margin-left: 15px;
      padding: 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: $highlight;
      cursor: pointer;
    }
  }
}

.contact {
  text-align: center;
  border-radius: 100px;
  width: 150px;
  background-color: $light-bg;
  opacity: 80%;
  color: $primary;
}

nav .menu {
  display: none;
}

// side nav

@media screen and (max-width: 800px) {
  nav .menu {
    display: block;
    margin-right: 10vw;
    margin-left: 25px;
  }
  nav ul li {
    display: none;
  }
  .nav .logo {
    text-align: center;
  }
}
