.landing_wrapper {
  width: 95vw;
  height: 100vh;
  position: relative;
  z-index: 1;

  .landing_heading_text {
    width: 100vw;
    @include flex-center;
    font-size: 10vw;
    position: absolute;
    z-index: 0;
  }
  .landing_heading_img {
    width: 100vw;
    @include flex-center;
    position: absolute;
    z-index: 1;
    img {
      width: 55%;
      height: 75%;
    }
  }
  .landing_button {
    @include flex-center;
    width: 100vw;
    position: absolute;
    bottom: 20%;

    button {
      width: 120px;
      height: 40px;
      border: none;
      border-radius: 50px;
      background-color: $dark-bg;
      color: $primary;
      font-weight: bolder;
    }
  }
}

@media only screen and (max-width: 800px) {
  .landing_wrapper .landing_heading_img {
    img {
      width: 80%;
      height: 75%;
    }
  }
}
