.App {
  position: relative;
}

.basket {
  position: absolute;
  right: 0;
  top: 0;
}

.front {
  position: absolute;
  z-index: 1;
}

.circle {
  width: 100vw;
  height: 80vh;
  border-radius: 0 0 100% 100%;
  position: absolute;
  margin-top: -40vh;
  background-color: #cbddc3;
  z-index: 0;
}

.card {
  @include flex-center;
  flex-direction: column;
  width: 30vw;
  height: 50%;
  border: 3px solid $dark-bg;
  padding: 20px;
  margin-bottom: 100px;
  border-radius: 15px;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
  .card_img {
    position: relative;
    @include flex-center;
    width: 100%;
    img {
      width: 20vw;
      margin-top: -15vh;
    }
  }
}

.card_details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: $primary;
  margin: 25px 0;
  width: 100%;
  position: relative;
}

.card:hover .overlay {
  opacity: 1;
}

.card_description {
  display: block;
  width: 100%;
  height: auto;
  h2 {
    text-align: center;
    font-size: 18px;
    color: rgb(31, 31, 31);
  }
  p {
    font-size: 14px;
    text-align: center;
    color: gray;
    margin: 8px 0;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $primary;
}

.text {
  display: flex;
  flex-wrap: wrap;
  color: gray;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  ul {
    list-style: none;
  }
}

.card_button {
  @include flex-center;
  width: 100%;
  button {
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: $dark-bg;
    color: $primary;
    cursor: pointer;
    :hover {
      background-color: $primary;
      color: #fff;
    }
  }
}

.card:hover {
  color: $primary;
  transform: scale(0.9);
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .product_show {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }
  .card {
    min-width: 60vw;
  }
  .card .card_img img {
    width: 30vw;
  }
  .circle {
    width: 100vw;
    height: 65vh;
  }
}
